*{
    margin: 0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@import 'footer';

:root{
    --color-button: rgb(76,181,249);
    --border-color: rgba(0, 0, 0, 0.219);
}

a,p{
    font-size: .7rem;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .wrapper-content{
        max-width: 900px;
        height: 550px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 30px 0;

        .left{
            position: relative;
            .phone{
                max-width: 100%;
            }
        }

        .img-capa-phone{
            position: absolute;
            width: 100%;
            max-width: 240px;
            top: 25px;
            left: 145px;
            height: 510px;
        }

        .rigth{
            margin-right: 100px;

            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 280px;
                padding: 20px 40px;
                margin-top: 20px;
                border: 1px solid var(--border-color);
                border-radius: 5px;

                input{
                    width: 260px;
                    padding: 10px;
                    margin: 5px 0;
                    border: 1px solid var(--border-color);
                    border-radius: 5px;
                }

                input::placeholder{
                    font-size: .7rem;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.655);
                }
                
                .logo{
                    width: 190px;
                    margin: 20px 0;
                }

                .btn{
                    outline: none;
                    border: 0;
                    background-color: var(--color-button);
                    margin: 15px 0;
                    width: 100%;
                    padding: 8px 0;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: .2s;
                    color: #fff;
                    font-weight: bold;

                    &:hover{
                        background-color: rgb(47, 164, 242);
                    }
                }

                .separation{
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    color: rgba(0, 0, 0, 0.679);
                    margin: 18px 0;
                    
                    .traco1{
                        background-color: var(--border-color);
                        width: 112px;
                        height: 1px;
                    }
                    .text{
                        margin: 0 20px;
                        text-transform: uppercase;
                    }
                }

                .links-logins{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
            
                    .facebook{
                        display: flex;
                        align-items: center;

                        .login-face{
                            color: rgb(56,81,149);
                            font-size: 14px;
                            text-decoration: none;
                            font-weight: 500;
                        }

                        img{
                            width: 20px;
                            margin-right: 10px;
                        }
                    }

                    .password{
                        margin: 15px 0 0 10px;

                        .esqueceu-senha{
                            text-decoration: none;
                            color: rgb(56,81,133);
                            font-weight: 500;
                            font-size: 12px;
                            text-align: center;
                        }
                    }
                }
            }

            .cadastre{
                border: 1px solid var(--border-color);
                padding: 20px;
                margin-top: 8px;

                p{
                    font-size: 14px;

                    text-align: center;
                    a{
                        color: rgb(0,149,246);
                        font-size: 14px;
                        font-weight: 500;
                        text-decoration: none;
                    }
                }
            }

            .apps{
                text-align: center;
                margin: 5px 0;

                .loja{
                    margin: 10px 0;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    
                    img{
                        width: 107px;
                        height: 35px;
                    }

                    .img-micro{
                        width: 107px;
                        height: 35px;
                    }
                }
            }
        }  
    }
    .footer{
        .nave-bar{
            text-align: center;
            padding:2% 7%;
            a{
                text-decoration: none;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.65);
                padding: 10px;
            }
        }
    }
}

@media screen and (max-width: 920px ) {
    .wrapper{
        .left{
            display: none;
        }

        .wrapper-content{
            .rigth{
                margin: 0;
            }
        }

    }
}
